[submodule "leslieknope"]
  path = leslieknope
  url = https://github.com/ColetteIsabella/leslieknope.git

[submodule "timezone"]
  path = timezone
  url = https://github.com/ColetteIsabella/timezone.git
