<div id="gallerypage">

  <h1>MouseBee: The Gallery</h1>
  <div id="carousel">
    <div>
      <img class="gallery" src="/img/amino.jpg">

      <img class="gallery" src="/img/amino2.jpg">
      <img class="gallery" src="/img/aoabk.jpg">
      <img class="gallery" src="/img/AtoT.jpg">

      <img class="gallery" src="/img/beechokerandearrings.jpg">
      <div class="zoom overlay clearfix"><img src="/img/beechokerandearrings.jpg">
      </div>
    </div>
    <div id="pagination"></div>
  </div>
</div>
