<div id= "mousebee" class="color grey">
<!--https://app.snipcart.com/api-->
<script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    type="text/javascript"></script>
<script type="text/javascript"
    id="snipcart"
    src="https://cdn.snipcart.com/scripts/snipcart.js"
    data-api-key="YOUR_API_KEY"></script>

<link id="snipcart-theme" type="text/css"
    href="https://cdn.snipcart.com/themes/base/snipcart.min.css"
    rel="stylesheet">

<body>
<header class="mousebee-header">

  <div class="social clearfix">
    <a href="https://facebook.com/{{ include.username }}"><img class="icons" src="/assets/fb.png"></a>
    <a href="https://twitter.com/{{ include.username }}"><img class="icons" src="/assets/twitter.png"></a>
    <a href="https://github.com/{{ include.username }}"><img class="icons" src="/assets/github-new.png"></a>
    <a href="https://github.com/{{ include.username }}"><img class="icons" src="/assets/rss.png"></a>
  </div>

    <nav class="mousebee clearfix">
    <img class="myhead" src="/assets/mousebee2.png">
      <ul id="dropdown">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about/index.html">About</a></li>
        <li><a href="/resume/index.html">Resume</a></li>
        <li><a href="https://www.facebook.com/AnatomyOfABeekeeper/?fref=ts">Blog</a></li>
        <!--<li><a href="/gallery/index.html">Gallery</a></li>-->
        <li><a href="/mousebee/faq.html">MouseBee!</a></li>
      </ul>
      </nav>

</header>
  <h1>Welcome to MouseBee!</h1>
    <ul class="mobilesafe clearfix">
      <li class="listings mblistings clearfix"><h2>Marv</h2>
      <h3>Marv is a crocheted flying sloth. Every Marv is different, because they are handmade, and have their own personalities. They are made of hypoallergenic material, and each have 1 neodynium magnet in each paw so they can stay with you wherever you go!</h3>
      </li>
        <div class="allthese clearfix">
          <div class="items mobilefit">
          <img src="/assets/marv.jpg">
            <a href="#"
            class="snipcart-add-item"
            data-item-id="marv1"
            data-item-name="Marv1"
            data-item-price="30.00"
            data-item-weight="3"
            data-item-url="/mousebee/index.html"
            data-item-image="/assets/marv.jpg"
            data-item-max-quantity="1"
            data-item-stackable="false"
            data-item-description="Marvelous Marv and his flying sloth cousins!">
            <h3>Ask a Marv to fly home to you!</h3>
            </a>
          </div>
          <div class="items">
          <img src="/assets/marv.jpg">
            <a href="#"
            class="snipcart-add-item"
            data-item-id="marv2"
            data-item-name="Marv2"
            data-item-price="30.00"
            data-item-weight="3"
            data-item-url="/mousebee/index.html"
            data-item-image="/assets/marv.jpg"
            data-item-max-quantity="1"
            data-item-stackable="false"
            data-item-description="Marvelous Marv and his flying sloth cousins!">
            <h3>Ask a Marv to fly home to you!</h3>
            </a>
          </div>
          <div class="items">
          <img src="/assets/marv.jpg">
            <a href="#"
            class="snipcart-add-item"
            data-item-id="marv3"
            data-item-name="Marv3"
            data-item-price="30.00"
            data-item-weight="3"
            data-item-url="/mousebee/index.html"
            data-item-image="/assets/marv.jpg"
            data-item-max-quantity="1"
            data-item-stackable="false"
            data-item-description="Marvelous Marv and his flying sloth cousins!">
            <h3>Ask a Marv to fly home to you!</h3>
            </a>
          </div>
          <div class="items">
          <img src="/assets/marv.jpg">
            <a href="#"
            class="snipcart-add-item"
            data-item-id="marv4"
            data-item-name="Marv4"
            data-item-price="30.00"
            data-item-weight="3"
            data-item-url="/mousebee/index.html"
            data-item-image="/assets/marv.jpg"
            data-item-max-quantity="1"
            data-item-stackable="false"
            data-item-description="Marvelous Marv and his flying sloth cousins!">
            <h3>Ask a Marv to fly home to you!</h3>
            </a>
          </div>
        </div>
      <li class="listings">Molecules</li>
      <div class="allthese clearfix">
          <div class="items"></div>
          <div class="items"></div>
          <div class="items"></div>
          <div class="items"></div>
        </div>
      <li class="listings">Beading</li>
      <div class="allthese clearfix">
          <div class="items"></div>
          <div class="items"></div>
          <div class="items"></div>
          <div class="items"></div>
        </div>
    </ul>
<footer class="mousebee-footer">
</footer>
</body>
</div>
